export ENV=dev
export PORT=3000
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=root
export DATABASE_HOST=postgres
export DATABASE_SUPERUSER=postgres
export DATABASE_SUPERPASSWORD=root
export AWS_ACCESS_KEY_ID=AKIASTFUCCNFYR57UBNJ
export AWS_SECRET_ACCESS_KEY=E+7xTesTtcC273WlL37BcBMS575/jMBkZerSmnVb
